.main-footer {
    color: white;
    background-color: aqua;
    /* padding-top: 3em; */
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    white-space: nowrap;
}

.row2 {
    display: flex;
    justify-content: center;
}

/* .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.col>ul {
    padding: 0px 0px;
}

.col>ul>li {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: 0px 0px;
    list-style-type: disc;
}

/* .col>h4 {
    
} */